<style>

  h1 {
		color: white;
		font-size: 55px;
	}

	h2 {
		font-weight: bold;
		font-size: 25px
	}

	p {
		font-size: 15px;
	}

	img {
		border-radius: 15px;
		max-width: 100%;
	}

  ::selection {
		color: white;
		background: #568C03;
	}

  .centralizar {
    text-align: center;
  }

  .fundo-bege {
    background-color: #f8efe5;
    min-height: 544px;
  }

	.coluna-padding-top {
		padding-top: 45px;
	}

  .padding-bottom-texto {
    padding-bottom: 40px;
  }

  .padding-top-botao {
    padding-top: 25px;
  }

  .img-fundo-coluna {
    background-image: url(/public/img/fundo_login.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin-top: 35px;
  }

  .padding-left-texto {
    padding-left: 10px;
  }

  .padding-top-logo {
    padding-top: 120px;
  }

  .padding-left-logo {
    padding-left: 110px;
  }

</style>

<div class="fundo-bege">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 offset-1 padding-top-logo padding-left-logo">
        <img src="/public/img/logo_oficial.svg" alt="Logo FarmerLink" width="350px">
      </div>
      <div class="col-4 offset-2 coluna-padding-top img-fundo-coluna px-5 padding-left-texto">
        <h2 class="centralizar padding-bottom-texto">Entre na sua conta</h2>
        <div class="mb-2 padding-left-texto">
          <label for="inputEmail" class="form-label">E-mail</label>
          <input
            type="text"
            id="inputEmail"
            class="form-control"
            maxlength="100"
            size="40px"
          />
        </div>
        <div class="mb-2 padding-left-texto">
          <label for="inputSenha" class="form-label">Senha</label>
          <input
            type="password"
            id="inputSenha"
            class="form-control"
            maxlength="100"
            size="40px"
          />
        </div>
        <div class="d-grid padding-top-botao padding-left-texto">
          <button
            type="button"
            onclick="efetuarLogin()"
            class="btn btn-primary buttonzinho"
          >
            Entrar
          </button>
        </div>
        <p class="centralizar padding-top-botao padding-right-texto padding-left-texto">
          <a
            target="_blank"
            href=""
            >Esqueci minha senha</a
          >
        </p>
        <p class="centralizar padding-bottom-texto padding-right-texto padding-left-texto">
          Novo na Farmer Link?
          <a href="/cadastrar">Cadastrar</a>
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 offset-md-1 centralizar pt-3">
      <p>
        <img
          src="/public/img/entrega_rapida.png"
          width="50px"
          alt="Ícone de caixa"
        />
        Entrega rápida
      </p>
    </div>
    <div class="col-md-4 centralizar pt-3">
      <p>
        <img
          src="/public/img/qualidade_garantida.png"
          width="50px"
          alt="Ícone sinal positivo"
        />
        Qualidade garantida
      </p>
    </div>
    <div class="col-md-3 centralizar pt-3">
      <p>
        <img
          src="/public/img/eco_friendly.png"
          width="50px"
          alt="Ícone folha"
        />
        Eco friendly
      </p>
    </div>
  </div>
</div>

<script>
  function efetuarLogin() {
    let inputEmail = document.getElementById("inputEmail");
    let inputSenha = document.getElementById("inputSenha");

    let email = inputEmail.value;
    let senha = inputSenha.value;

    if (!email) {
      console.log("E-mail vazio!");
      return;
    } else {
      console.log("E-mail: " + email);
    }

    if (!senha) {
      console.log("Senha vazia!");
      return;
    } else {
      console.log("Senha: " + senha);
    }
  }
</script>
