<style>
    h1 {
        font-weight: bold;
        font-size: 30px;
        color: white;
    }

    h2 {
        font-weight: bold;
        font-size: 25px;
        color: white;
    }

    p {
        color: white;
    }

    ::selection {
		color: white;
		background: #568C03;
	}

	.coluna-centralizar {
		text-align: center;
	}

    .plano-de-fundo {
        background-image: url(/public/img/tomate_fundo_perfil.jpg);
        min-height: 400px;
        background-size: cover;
    }

    .espacamento-perfil {
        min-height: 400px;
    }

    .fundo-bege {
		background-color: #f8efe5;
		min-height: 930px;
	}

    .centralizar-conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .padding-top-nome-resumo {
        padding-top: 85px;
    }

    .fonte-cor-preta {
        color: black;
    }

    .justificar-resumo {
        text-align: justify;
    }
</style>

<div class="fundo-bege">
    <div class="plano-de-fundo">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 offset-md-1 centralizar-conteudo espacamento-perfil">
                    <img src="/public/img/icone_farmer_1.png" alt="Foto de perfil FarmerLink" class="centralizar-conteudo">
                </div>
                <div class="col-md-7 espacamento-perfil padding-top-nome-resumo">
                    <label class="form-label" for="nome" style="color: white;">Nome</label>
                    <input id="nome" class="form-control" maxlength="150" value="<%= fazendeiro.nome %>" />
                    <label class="form-label" for="telefone" style="color: white; padding-top: 10px;">Telefone</label>
                    <input id="telefone" class="form-control" maxlength="150" value="<%= fazendeiro.telefone %>" />
                    <label class="form-label" for="resumo" style="color: white; padding-top: 10px;">Resumo</label>
                    <input id="resumo" class="form-control" maxlength="150" value="<%= fazendeiro.resumo %>" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1 d-grid">
                <label class="form-label" for="inputCatalogo" style="padding-top: 10px;">Catálogo</label>
                <div id="inputCatalogo"><%- fazendeiro.catalogo %></div>
                <div class="d-grid pt-3">
                    <button
                    type="button"
                    onclick="editarCatalogo()"
                    class="btn btn-primary buttonzinho"
                  >
                    Salvar
                  </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 offset-md-1 coluna-centralizar pt-3">
			<p class="fonte-cor-preta">
			<img src="/public/img/entrega_rapida.png" width="50px" alt="Ícone de caixa"/>
				Entrega rápida
			</p>
		</div>
		<div class="col-md-4 coluna-centralizar pt-3">
			<p class="fonte-cor-preta">
			<img src="/public/img/qualidade_garantida.png" width="50px" alt="Ícone sinal positivo"/>
				Qualidade garantida
			</p>
		</div>
		<div class="col-md-3 coluna-centralizar pt-3">
			<p class="fonte-cor-preta">
			<img src="/public/img/eco_friendly.png" width="50px" alt="Ícone folha"/>
				Eco friendly
			</p>
		</div>
	</div>
</div>

<script type="text/javascript" src="/public/js/ckeditor/ckeditor.js"></script>

<script>

    CKEDITOR.replace("inputCatalogo");
    //let catalogo = CKEDITOR.instances.inputCatalogo.getData().normalize().trim();
</script>
