<style>

	h1 {
		color: white;
		font-size: 55px;
	}

	h2 {
		font-weight: bold;
		font-size: 30px
	}

	p {
		font-size: 15px;
	}

	img {
		border-radius: 15px;
		max-width: 100%;
	}

	::selection {
		color: white;
		background: #568C03;
	}

	.p-texto-branco {
		color: white;
	}

	.justificar-texto {
		text-align: justify;
	}

	.coluna-centralizar {
		text-align: center;
	}

	.coluna-padding-top-parte-1 {
		padding-top: 110px;
	}
	
	.coluna-padding-bottom-top {
		padding-bottom: 20px;
		padding-top: 20px;
	}

	.coluna-padding-top {
		padding-top: 20px;
	}

	.h2-verde {
		color: #568C03;
	}

	.espacamento-fundo-pequeno {
		min-height: 272px;
	}

	.espacamento-fundo-grande {
		min-height: 544px;
	}

	#container3D {
		position: relative;
	}

	#overlay {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.coluna-padding-top-parte-2 {
		padding-top: 80px;
	}

	.plano-fundo-papelao {
		background-image: url(/public/img/fundo_papel1.png);
		background-repeat: no-repeat;
		min-height: 544px;
	}

	.espacamento-retangulos {
		display: flex;
		justify-content: space-between;
	}

	.coluna-padding-top-parte-4 {
		padding-top: 100px;
	}

	.coluna-padding-top-imagem {
		padding-top: 83px;
	}

	.img-padding-left {
		padding-left: 0px;
	}

	.padding-left-texto {
		padding-left: 25px;
	}
	
	.coluna-padding-top-principios {
		padding-top: 25px;
	}

	.padding-top-qualidades {
		padding-top: 60px;
	}

	.cor-fonte-verde-escuro {
		color: #114F2D;
	}

</style>
<div id="container3D">
	<div id="overlay">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 offset-md-1 coluna-padding-top-parte-1">
					<h1>
						A feira agora está online!
					</h1>
					<p class="justificar-texto coluna-padding-bottom-top p-texto-branco">
						Apoio quem cultiva com carinho e descubra alimentos de qualidade com quem mais entende.
					</p>
					<div class="d-grid">
						<a href="/fazendeiros" class="btn btn-primary buttonzinho">Fazendeiros</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="espacamento-fundo-pequeno">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 coluna-centralizar offset-md-1 coluna-padding-top-parte-2">
				<h2 class="h2-verde">
					Bem-vindo(a) à FarmerLink!
				</h2>
				<p class="coluna-padding-bottom-top">
					Aqui conectamos você diretamente aos produtores locais que cultivam com paixão e respeito pela natureza.
					<br/>
					Venha sentir o sabor genuíno dos alimentos frescos e saudáveis!
				</p>
			</div>
		</div>
	</div>
</div>
<div class="plano-fundo-papelao">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 offset-md-3 coluna-centralizar padding-top-qualidades">
				<h2 class="cor-fonte-verde-escuro">
					Conheça nossas principais qualidades
				</h2>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="row">
				<div class="espacamento-retangulos coluna-padding-top-principios">
					<div class="col-md-3 coluna-centralizar">
						<img src="/public/img/retangulo-azul.png" alt="Entrega rápida">
					</div>
					<div class="col-md-3 offset-md-1">
						<img src="/public/img/retangulo-laranja.png" alt="Qualidade garantida">
					</div>
					<div class="col-md-3 offset-md-1">
						<img src="/public/img/retangulo-verde.png" alt="Eco Friendly">
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="espacamento-fundo-grande">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 offset-md-1 img-padding-left coluna-padding-top-imagem">
				<img src="/public/img/fazendeiro-landing-page.png" alt="Fazendeiro FarmerLink">
			</div>
			<div class="col-md-5 coluna-padding-top-parte-4 padding-left-texto">
				<h2 class="h2-verde">
					Junte-se à comunidade FarmerLink!
				</h2>
				<p class="justificar-texto coluna-padding-top">
					Seja parte de um movimento que valoriza a saúde, o meio ambiente e o comércio justo. Cadastre-se agora e:
				</p>
				<p>
					✅ Fique por dentro das novidades;
					<br>
					✅ Ofertas exclusivas;
					<br>
					✅ Dicas sobre vida sustentável;
					<br>
					✅ Construa um futuro mais verde!
				</p>
				<div class="d-grid coluna-padding-top">
					<a href="/cadastrar" class="btn btn-primary buttonzinho">Cadastrar</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="importmap">
	{
		"imports": {
			"three": "https://cdn.jsdelivr.net/npm/three@v0.169.0/build/three.module.js",
			"three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.169.0/examples/jsm/"
		}
	}
</script>
<script type="module">
	import * as THREE from 'three';
	import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
	import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';

	let scene, camera, renderer, model;

	function init() {
		scene = new THREE.Scene();

		const textureLoader = new THREE.TextureLoader();
		const backgroundTexture = textureLoader.load("/public/img/fundo_platinha_landing_page.png");
		scene.background = backgroundTexture;

		camera = new THREE.PerspectiveCamera(45, 1200 / 544, 0.1, 1000);
		camera.position.set(-2.9, 2.6, 8);

		renderer = new THREE.WebGLRenderer({ antialias: true });
		renderer.setSize(1200, 544);
		document.getElementById("container3D").appendChild(renderer.domElement);

		const ambientLight = new THREE.AmbientLight(0xffffff, 0.5);
		scene.add(ambientLight);

		const directionalLight = new THREE.DirectionalLight(0xffffff, 2);
		directionalLight.position.set(5, 20, 7.5);
		scene.add(directionalLight);

		const loader = new GLTFLoader();
		loader.load("/public/glb/plantinha_3d.glb", (gltf) => {
		model = gltf.scene;
		scene.add(model);
		});

		animate();
	}

	function animate() {
		requestAnimationFrame(animate);

		if (model) {
			model.rotation.y += 0.01;
		}

		renderer.render(scene, camera);
		}

	init();
</script>