<style>

	img {
		border-radius: 25px;
	}

	.coluna-centralizar {
		text-align: center;
	}

	.coluna-padding-top {
		padding-top: 100px;
	}

	.coluna-padding-right {
		padding-right: 75px;
	}

	.coluna-padding-left {
		padding-left: 75px;
	}

	.coluna-justificar {
		text-align: justify;
	}

	.espacamento-top-texto {
		padding-top: 20px;
	}

	.espacamento-bottom-texto {
		padding-bottom: 20px;
	}

	.centralizar-img {
        display: flex;
        align-items: center;
		justify-content: center;
    }

</style>
<div id="container3D"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 offset-md-1 coluna-centralizar">
			<p>
			<img src="/public/img/entrega_rapida.png" width="50px" alt="Ícone de caixa"/>
				Entrega rápida
			</p>
		</div>
		<div class="col-md-4 coluna-centralizar">
			<p>
			<img src="/public/img/qualidade_garantida.png" width="50px" alt="Ícone sinal positivo"/>
				Qualidade garantida
			</p>
		</div>
		<div class="col-md-3 coluna-centralizar">
			<p>
			<img src="/public/img/eco_friendly.png" width="50px" alt="Ícone folha"/>
				Eco friendly
			</p>
		</div>
	</div>
</div>

<script type="importmap">
	{
		"imports": {
			"three": "https://cdn.jsdelivr.net/npm/three@v0.169.0/build/three.module.js",
			"three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.169.0/examples/jsm/"
		}
	}
</script>
<script type="module">
	import * as THREE from 'three';
	import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
	import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';

	let scene, camera, renderer, model;

	function init() {
		scene = new THREE.Scene();

		const textureLoader = new THREE.TextureLoader();
		const backgroundTexture = textureLoader.load("/public/img/v5-plantinha.png");
		scene.background = backgroundTexture;

		camera = new THREE.PerspectiveCamera(45, 1200 / 544, 0.1, 1000);
		camera.position.set(-2.9, 2.6, 8);

		renderer = new THREE.WebGLRenderer({ antialias: true });
		renderer.setSize(1200, 544);
		document.getElementById("container3D").appendChild(renderer.domElement);

		const ambientLight = new THREE.AmbientLight(0xffffff, 0.5);
		scene.add(ambientLight);

		const directionalLight = new THREE.DirectionalLight(0xffffff, 2);
		directionalLight.position.set(5, 20, 7.5);
		scene.add(directionalLight);

		const loader = new GLTFLoader();
		loader.load("/public/model/platinha_verde_claro.glb", (gltf) => {
		model = gltf.scene;
		scene.add(model);
		});

		animate();
	}

	function animate() {
		requestAnimationFrame(animate);

		if (model) {
			model.rotation.y += 0.01;
		}

		renderer.render(scene, camera);
		}

	init();
</script>