<style>
	.imagem-fundo {
		background-image: url(/public/img/v2-landing_page_fundo.png);
		background-repeat: no-repeat;
		min-height: 530px;
	}

	.coluna-centralizar {
		text-align: center;
	}

	.coluna-padding-top {
		padding-top: 100px;
	}

	.coluna-padding-left {
		padding-left: 75px;
	}

	.coluna-justificar {
		text-align: justify;
	}

	.espacamento-top-texto {
		padding-top: 20px;
	}

	.espacamento-bottom-texto {
		padding-bottom: 20px;
	}

</style>

<div class="imagem-fundo">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 offset-md-1 coluna-padding-top coluna-padding-left">
				<h1>
					Conheça nossos Farmers, ou se torne um deles!
				</h1>
				<p class="coluna-justificar espacamento-top-texto">
					De frutas a verduras, a seleção dos nossos agricultores é cuidadosamente escolhida para levar até você o melhor da colheita.
				</p>
				<p class="coluna-justificar espacamento-bottom-texto">
					Descubra produtos livres de agrotóxicos, cheios de nutrientes e sabor. Direto do campo para sua mesa!
				</p>
				<div class="col-md-4 offset-md-4">
					<button type="button" style="border-width: 1px; border-style: solid; background-color: #114f2d; padding: 20px 25px; border-radius: 5px; text-decoration: none; color: white; font-weight: bold;">Produtores</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 offset-md-1 coluna-centralizar">
			<p>
			<img src="/public/img/entrega_rapida.png" width="50px" alt="Ícone de caixa"/>
				Entrega rápida
			</p>
		</div>
		<div class="col-md-4 coluna-centralizar">
			<p>
			<img src="/public/img/qualidade_garantida.png" width="50px" alt="Ícone sinal positivo"/>
				Qualidade garantida
			</p>
		</div>
		<div class="col-md-3 coluna-centralizar">
			<p>
			<img src="/public/img/eco_friendly.png" width="50px" alt="Ícone folha"/>
				Eco friendly
			</p>
		</div>
	</div>
</div>