<style>

	img {
		border-radius: 25px;
	}

    h1 {
        font-weight: bold;
        font-size: 30px;
		color: black;
    }

	h2 {
		font-weight: bold;
		font-size: 20px;
	}

	::selection {
		color: white;
		background: #568C03;
	}

	.imagem-fundo {
		background-color: #f8efe5;
		min-height: 1365px;
	}
	
	.coluna-centralizar {
		text-align: center;
	}

	.coluna-padding-top {
		padding-top: 110px;
	}
	

	.padding-bottom-texto {
		padding-bottom: 20px;
	}

</style>

<div class="imagem-fundo">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 offset-md-3 coluna-centralizar coluna-padding-top padding-bottom-texto pb-3">
				<h1 class="padding-bottom-texto">
					Notícias
				</h1>
				<img src="/public/img/logo_oficial.svg" alt="Logo FarmerLink" width="150px">
				<p class="pt-4">
					Veja as principais notícias que separamos exclusivamente para você.
					<hr/>
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 offset-md-1 mb-3">
				<img src="/public/img/noticias_1.jpg" alt="Foto do campo">
				<h2 class="mt-1">
					Do campo para o prato: sabor e bem-estar
				</h2>
				<p>
					Conheça os benefícios de consumir alimentos orgânicos e frescos.
				</p>
			</div>
			<div class="col-md-5 mb-3">
				<img src="/public/img/noticias_2.jpg" alt="Foto do campo">
				<h2 class="mt-1">
					O sabor da terra: conheça os agricultores por trás dos alimentos saudáveis
				</h2>
				<p>
					Histórias inspiradoras de quem cultiva com amor e respeito à natureza.
				</p>
			</div>
			<div class="col-md-5 offset-md-1 mb-3">
				<img src="/public/img/noticias_3.jpg" alt="Foto do campo">
				<h2 class="mt-1">
					Livre de agrotóxicos: mais sabor, mais saúde
				</h2>
				<p>
					Desvende os segredos de uma alimentação nutritiva e livre de químicos.
				</p>
			</div>
			<div class="col-md-5 mb-3">
				<img src="/public/img/noticias_4.jpg" alt="Foto do campo">
				<h2 class="mt-1">
					Do campo à mesa: um ciclo de vida sustentável
				</h2>
				<p>
					A importância da agricultura orgânica para a preservação do meio ambiente.
				</p>
			</div>			
			<div class="col-md-5 offset-md-1 mb-3">
				<img src="/public/img/noticias_5.jpg" alt="Foto do campo">
				<h2 class="mt-1">
					Imune a doenças: a força da alimentação natural
				</h2>
				<p>
					Fortaleça seu sistema imunológico e viva uma vida mais saudável.
				</p>
			</div>
			<div class="col-md-5 mb-3">
				<img src="/public/img/noticias_6.jpg" alt="Foto do campo">
				<h2 class="mt-1">
					Do pequeno produtor para a sua mesa: sabor e qualidade garantidos
				</h2>
				<p>
					Conheça as histórias por trás dos alimentos que você consome.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 offset-md-1 coluna-centralizar pt-3">
			<p>
			<img src="/public/img/entrega_rapida.png" width="50px" alt="Ícone de caixa"/>
				Entrega rápida
			</p>
		</div>
		<div class="col-md-4 coluna-centralizar pt-3">
			<p>
			<img src="/public/img/qualidade_garantida.png" width="50px" alt="Ícone sinal positivo"/>
				Qualidade garantida
			</p>
		</div>
		<div class="col-md-3 coluna-centralizar pt-3">
			<p>
			<img src="/public/img/eco_friendly.png" width="50px" alt="Ícone folha"/>
				Eco friendly
			</p>
		</div>
	</div>
</div>