<style>

.fundo-verde-claro{
	background-color: #E8F8D3;
	margin-top: 10px;
	border-radius: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.fundo-verde-escuro{
	background-color: black;
}
.foto_perfil{
	height: 100px;
	width: 100px;
}
.icones{
	height: 50px;
	width: 50px;
}
.texto_esquerda{
	text-align: left;
}

</style>






<div class="container-fluid">

	<div class="fundo-verde-claro">
		<div class="container text-center">
			<div class="row align-items-center">
			  <div class="col">
				<img src="/public/img/login_foto_perfil.png" class="foto_perfil">
			  </div>
			  <div class="col texto_esquerda">
				<img src="/public/img/assinatura .png" class="icones"> <p>Nome</p>
				<img src="/public/img/local.png" class="icones"> <p>Local</p>
			  </div>
			  <div class="col texto_esquerda">
				<ul>
					<li>Cenoura</li> <li>Cebola</li>
					<li>Alface</li> <li>Batata</li>
					<li>Tomate</li> <li>Abóbora</li>
				</ul>
			  </div>
			</div>
			<p class="texto_esquerda">Sou agricultor familiar há mais de 20 anos. Junto com minha família, cultivo alimentos saudáveis e sustentáveis em uma pequena propriedade localizada no interior. Nosso foco é produzir hortaliças frescas, frutas da estação e ovos caipiras de forma natural, respeitando o meio ambiente e garantindo produtos de alta qualidade.

				Além de produzir alimentos, faço questão de compartilhar nosso conhecimento com a comunidade, promovendo o consumo consciente e a valorização dos pequenos produtores. Queremos levar saúde e sustentabilidade para a sua casa.</p>
		  </div>
	</div>

</div>
