<style>
    h1 {
        font-weight: bold;
        font-size: 30px;
        color: white;
    }

    h2 {
        font-weight: bold;
        font-size: 25px;
        color: white;
    }

    p {
        color: white;
    }

	.coluna-centralizar {
		text-align: center;
	}

    .plano-de-fundo {
        background-image: url(/public/img/tomate_fundo_perfil.jpg);
        min-height: 505px;
        background-size: cover;
    }

    .fundo-bege {
		background-color: #f8efe5;;
		min-height: 1365px;
	}
</style>

<div class="fundo-bege">
    <div class="plano-de-fundo">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 offset-md-1">
                    <img src="/public/img/icone_farmer_1.png" alt="">
                </div>
                <div class="col-md-7">
                    <h2>
                        Nome
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor obcaecati mollitia deserunt eligendi officia, architecto molestiae distinctio, consectetur illum vel aut temporibus, possimus eos delectus. Totam hic ex explicabo cupiditate!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 offset-md-1 coluna-centralizar">
			<p>
			<img src="/public/img/entrega_rapida.png" width="50px" alt="Ícone de caixa"/>
				Entrega rápida
			</p>
		</div>
		<div class="col-md-4 coluna-centralizar">
			<p>
			<img src="/public/img/qualidade_garantida.png" width="50px" alt="Ícone sinal positivo"/>
				Qualidade garantida
			</p>
		</div>
		<div class="col-md-3 coluna-centralizar">
			<p>
			<img src="/public/img/eco_friendly.png" width="50px" alt="Ícone folha"/>
				Eco friendly
			</p>
		</div>
	</div>
</div>